:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --color--: rgb(104, 121, 121);
  --margin--: 15px;
}

.newsCard {
  margin: 20px;
  box-shadow: 0 0 5px grey;
  border-radius: 20px;
  overflow: hidden;
}

.header {
  position: relative;
}

.imgCard {
  width: 100%;
  height: 110px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.newsName {
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  z-index: 3;
}

.category {
  color: var(--color--);
  margin: var(--margin--);
}

.newsBody {
  margin: var(--margin--);
}

.wrapper {
  color: var(--color--);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: var(--margin--);
}

.trashIcon {
  color: var(--color--);
}
