:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --color--: rgb(104, 121, 121);
}

.imgCard {
  width: 100%;
  height: 110px;
  object-fit: cover;
  position: relative;
  filter: blur(3px);
}

.imgCard {
}

.newsName {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.category {
  color: var(--color--);
}

.newsBody {
}

.wrapper {
  color: var(--color--);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.trashIcon {
  border: none;
  background-color: inherit;
  color: var(--color--);
}
